.rcw-conversation-container {
  background-color: #252331 !important;
  color: white !important;
  border-radius: 12px !important;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6) !important;
}

.rcw-conversation-container .rcw-header {
  background-color: #343147 !important;
  color: white !important;
  border-bottom: 1px solid #3b394a !important;
  height: 20px;
}

.rcw-title {
  font-weight: bold !important;
  letter-spacing: 0.5px !important;
  padding: 2px !important;
}

.rcw-subtitle {
  color: #9c99aa !important;
}

.rcw-launcher {
  background-color: #0182ff !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4) !important;
}
.rcw-launcher:hover {
  background-color: #3d9aff !important;
}

.rcw-message {
  color: white !important;
}

.rcw-client .rcw-message-text {
  background-color: #0182ff !important;
  color: white !important;
}

.rcw-response .rcw-message-text {
  background-color: #343147 !important;
  color: white !important;
}

.rcw-message-text {
  font-family: "Inter", Arial, sans-serif !important;
  font-size: 14px !important;
  line-height: 1.4 !important;
  max-width: 245px !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  border-radius: 10px !important;
}

.rcw-sender {
  background-color: #1e1c28 !important;
  border-top: 1px solid #3b394a !important;
}

.rcw-new-message {
  background-color: transparent !important;
  color: white !important;
  padding-left: 10px !important;
}

.rcw-new-message::placeholder {
  color: #8e8c9c !important;
}

.rcw-send {
  background-color: #1e1c28 !important;
  color: #0182ff !important;
  transition: background 0.2s;
}
.rcw-send:hover {
  color: white !important;
}

.rcw-timestamp {
  color: #8e8c9c !important;
}

.rcw-close-button {
  color: white !important;
}

.rcw-widget-container {
  width: 400px !important;
  max-width: 400px !important;
}

.rcw-messages-container {
  background-color: #242230 !important;
}

.rcw-picker-btn {
  display: none !important;
}
